body {
  margin: 0;
  padding: 0;
  background-color: #ddeaff;
  font-family: roboto, sans-serif;
  overflow: hidden;
}

#root {
    display: block;
    margin: auto;
}

.app-container {
    display: block;
    width: 90%;
    margin: auto;
}

.welcome-page {
    display: block;
    text-align: center;
    font-family: roboto, sans-serif;
    padding-top: 50px;
}

.welcome-button {
    margin-top: 30px;
}

.dashboard-container {
    text-align: center;
    display: block;
    font-family: roboto, san-serif;
    padding: 10px;
}

.app-bar {
    border-radius: 25px;
}

h1 {
    font-family: roboto, sans-serif;
    font-size: 45px;
}